[user]
  name = naomichi-y
  email = n.yamakita@gmail.com
[core]
  editor = vi

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"


# [filter "lfs"]
# 	clean = git lfs clean %f
# 	smudge = git lfs smudge %f
# 	required = true
