[user]
  name = naomichi-y
  email = n.yamakita@gmail.com
[core]
  editor = vi

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch

# [filter "lfs"]
# 	clean = git lfs clean %f
# 	smudge = git lfs smudge %f
# 	required = true
